
<div ng-if="vm.isAuthenticated()" class="side-menu sidebar-inverse">
    <nav  class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="icon fa fa-paper-plane" src="content/images/LOGO_ICON_BM.png">
                    <div class="title">Empowering Africa</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <div ng-switch="vm.isAuthenticated()">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="home">
                            <span class="icon fa fa-home fa-fw"></span>&nbsp;
                            <span class="title">Acceuil</span>
                        </a>
                    </li>

                    <li   ng-class="{active: vm.$state.includes('entity')}" has-any-authority="ROLE_CEO,ROLE_PMO, ROLE_DO, ROLE_GRH, ROLE_FINANCE, ROLE_LOGISTIQUE" ng-switch-when="true" class="panel panel-default dropdown">
                        <a ng-show="vm.listeComptesTotal.length != 0" data-toggle="collapse" href="#dropdown-elementany">
                            <span class="icon fa  fa-list"></span><span class="title">Comptes</span>
                        </a>
                        <div id="dropdown-elementany" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li ng-repeat="(key, compte) in vm.listeComptesTotal" ui-sref-active="active" >
                                        <a ui-sref="app.projetcompte({id:compte.id})">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >{{compte.nom}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li  ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" class="panel panel-default dropdown">
                        <a ng-show="vm.listeComptes.length != 0" data-toggle="collapse" href="#dropdown-element">
                            <span class="icon fa  fa-object-group"></span><span class="title">Comptes supervisés </span>
                        </a>
                        <div id="dropdown-element" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li ng-repeat="(key, compte) in vm.listeComptes" ui-sref-active="active" >
                                         <a ui-sref="app.projetcompte({id:compte.id})">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >{{compte.nom}}</span>
                                         </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li  ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" class="panel panel-default dropdown">
                        <a  ng-if="vm.listeProjets.length != 0" data-toggle="collapse" href="#dropdown-element2">
                            <span class="icon fa fa-users"></span><span class="title">Projets supervisés </span>
                        </a>
                        <div id="dropdown-element2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li ng-repeat="(key, projet) in vm.listeProjets" ui-sref-active="active" >
                                        <a ui-sref="app.tacheprojet({idprojet:projet.id})">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >{{projet.name
                                                }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li  ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" class="panel panel-default dropdown">
                        <a  ng-if="vm.listeTasks.length != 0" data-toggle="collapse" href="#dropdown-element3">
                            <span class="icon fa fa-tasks"></span><span class="title">Taches</span>
                        </a>
                        <div id="dropdown-element3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li ng-repeat="(key, tache) in vm.listeTasks" ui-sref-active="active" >
                                        <a ui-sref="app.patache({idtache:tache.id})">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >{{tache.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li  ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_ADMIN" ng-switch-when="true" class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-element1">
                            <span class="icon fa fa-desktop"></span><span class="title">Données</span>
                        </a>
                        <div id="dropdown-element1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li ui-sref-active="active" >
                                        <a ui-sref="compte">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Compte</span>
                                        </a>
                                    </li>
                                      <li ui-sref-active="active" >
                                        <a ui-sref="projet">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Projet</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active" >
                                        <a ui-sref="documents">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Documents</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active" >
                                        <a ui-sref="article">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Article</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active" >
                                        <a ui-sref="commentaire">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Commentaire</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active" >
                                        <a ui-sref="tache">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Tache</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active" >
                                        <a ui-sref="message-hierachique">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Notification</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active" >
                                    <a ui-sref="point-avancement">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span >Point Avancement</span>
                                    </a>
                                </li>
                                    <li ui-sref-active="active" >
                                        <a ui-sref="message">
                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                            <span >Messages</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-table">
                            <span class="icon fa fa-table"></span><span class="title">Administration</span>
                        </a>
                        <div id="dropdown-table" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li ui-sref-active="active">
                                        <a ui-sref="user-management" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                                            <span>User management</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="jhi-health" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                            <span>Health</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="jhi-metrics" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                            <span>Metrics</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="jhi-configuration" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                            <span>Configuration</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="audits" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                            <span>Audits</span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="logs" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                            <span>Logs</span>
                                        </a>
                                    </li>
                                    <li ng-hide="vm.inProduction || vm.swaggerDisabled" ui-sref-active="active">
                                        <a ui-sref="docs" ng-click="vm.collapseSidebar()">
                                            <span class="glyphicon glyphicon-book"></span>&nbsp;
                                            <span>API</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           </div>
                         </li>
                        </ul>
                    </div>
                </div>
</nav>
</div>
