<div class=" fadeInDown box box-info">
    <div class="box-header text-center">
        <h4 class="box-title">Description de la tache</h4>
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button ng-click="vm.clear()" type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer">
                <i class="fa fa-times"></i></button>
        </div>
        <!-- /. tools -->
    </div>
    <div class="box-body">
        <p>{{vm.tache.description}}</p>
        <div class="pull-right" ng-if="vm.tache.fichierProjet">
            <a ng-click="vm.openFile(vm.tache.fichierJointContentType, vm.tache.fichierJoint)">open</a>
            {{vm.tache.fichierJointContentType}}, {{vm.byteSize(vm.tache.fichierJoint)}}
        </div>
    </div>
</div>
