    <div class=" row">
    <div class="col-xs-12">
        <div class="card">
            <!--<div class="card-header">
                <div class="card-title">
                 <div class="icon fa fa-users"></div>
                    <Label class="title">{{vm.projet.name}}</Label>
                </div>

            </div>-->
            <div class="row card-header">
                <div class="pull-left card-title">
                    <div class="icon fa fa-users"></div>
                    <Label class="title">{{vm.projet.name | limitTo:15}}</Label>
                </div>
                <div class="pull-right" ng-if="vm.projet.fichierProjet">
                    <a type="button" class="btn btn-primary" style="color:white;" ng-click="vm.openFile(vm.projet.fichierProjetContentType, vm.projet.fichierProjet)"><i class="fa fa-download" aria-hidden="true"></i> Télécharger fichier joint</a>
                </div>
            </div>
            <div class="card-body no-padding">
                <div class="step tabs-left card-no-padding">
                        <ul class="nav nav-tabs cadreTache" role="tablist">
                         <li data-ng-repeat="task in vm.listeTachesParProjet"  role="step"  ng-click="setSelected(task.id)" ng-class="{selectedd: task.id === idSelectedVote}">
                            <a ui-sref="app.projetcompte.tacheprojet.patache({idtache : task.id})"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                <div class="icon fa fa-tasks"></div>
                                <div class="step-title">
                                    <div class="title" >{{task.name | limitTo:15}}</div>
                                </div>
                            </a>
                         </li>
                        </ul>
                    <div class="tab-content" ui-view="pacontent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
