<div class="col-xs-12 well">
<nav class="navbar navbar-default banniere">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-md hidden-lg" href="#">Menu</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu" style="margin-bottom: 0px;">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="" type="button" style="font-size:1.5em;" data-toggle="dropdown"> Nouveau<b class="caret"></b></a>
                <ul class="dropdown-menu fadeInDown">
                    <li><a ui-sref="app.tacheprojet.newusertask"><span class="icon fa fa-users"></span> Tache</a></li>
                    <li><a  ui-sref="app.tacheprojet.newusercomment"><span class="glyphicon glyphicon-envelope"></span> Commentaire</a></li>
                    <li><a  ui-sref="app.tacheprojet.newuserdocument"><span class="glyphicon glyphicon-folder-open"></span> Document</a></li>
                    <li><a  ui-sref="app.tacheprojet.newarticle"><span class="glyphicon glyphicon-folder-open"></span> Article</a></li>
                </ul>
            </li>
            <li class="dropdown">
            <a href="" style="font-size:1.5em;" data-toggle="dropdown"> Edition<b class="caret"></b></a>
                <ul class="dropdown-menu fadeInDown">
                        <li class="dropdown-submenu">
                            <a data-toggle="dropdown" tabindex="-1" href=""><span class="fa fa-cogs"></span>  Taches</a>
                            <ul class="dropdown-menu fadeInDown">
                                <li data-ng-repeat="tache in vm.listeTachesParProjet"><a ui-sref="app.tacheprojet.edituser({idtask:tache.id})"><span class="fa fa-bar-chart-o"></span> {{tache.name}}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a data-toggle="dropdown" tabindex="-1" href=""><span class="fa fa-cogs"></span>  Messages</a>
                            <ul class="dropdown-menu fadeInDown">
                                <li><a><span class="fa fa-bar-chart-o"></span>Liste des messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a data-toggle="dropdown" tabindex="-1" href=""><span class="fa fa-cogs"></span>  Documents</a>
                            <ul class="dropdown-menu fadeInDown">
                                <li><a><span class="fa fa-bar-chart-o"></span> Liste documents</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a data-toggle="dropdown" tabindex="-1" href=""><span class="fa fa-cogs"></span>  Commentaires</a>
                            <ul class="dropdown-menu fadeInDown">
                                <li><a ng-repeat="(key, commentaire) in vm.listeCommentaireParProjet"><span class="fa fa-bar-chart-o"></span> {{commentaire.contenu}}</a></li>
                            </ul>
                        </li>

                </ul>
            </li>
            <li class="dropdown">
                <a style="font-size:1.5em;" ui-sref="app.tacheprojet.gantP({idprojet : vm.projet.id})"  role="button"> Gantt </a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i> Messages </a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="title">
                                    Notifications <span class="badge pull-right">{{vm.listeMessage.length}}</span>
                                </li>
                                <li class="title" ng-repeat="(key, message) in vm.listeMessage"><a ui-sref="app.projetcompte.read({idmess:message.id})">{{message.contenu | limitTo:20}}</a></li>
                            </ul>
                        </li>
              </ul>
    </div>
</nav>
        <div ui-view ="ganttcontent"></div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                 <div class="icon fa fa-users"></div>
                    <Label class="title">{{vm.projet.name}}</Label>
                </div>
            </div>
            <div class="card-body no-padding">
                <div class="step tabs-left card-no-padding">
                        <ul class="nav nav-tabs" role="tablist">
                         <li data-ng-repeat="task in vm.listeTachesParProjet"  role="step"  ng-class="{active: isActive(datalist)}" class="active">
                            <a ui-sref="app.tacheprojet.patache({idtache : task.id})"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                <div class="icon fa fa-tasks"></div>
                                <div class="step-title">
                                    <div class="title" >{{task.name}}</div>
                                </div>
                            </a>
                         </li>
                        </ul>
                    <div class="tab-content" ui-view="pacontent">
                    </div>
                </div>
            </div>
        </div> <br>
                        <!-- Zone de commentaire assàcié à une  -->
        <div class="row">
                <div class="col-md-12 col-xs-12">
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img ng-show="!vm.projet.user.image" class="img-circle" src="/content/images/photo.png" alt="User Image">
                <img ng-show="vm.projet.user.image" class="img-circle" data-ng-src="{{'data:' + vm.projet.user.imageContentType + ';base64,' + vm.projet.user.image}}" alt="User Image">
                <span class="username"><a href="#">{{vm.projet.user.firstName}} {{vm.projet.user.lastName}}</a></span>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Attachment -->
              <div class="attachment-block clearfix">
                <!-- <img class="attachment-img" src="/content/images/photo.png" alt="Attachment Image">
                <img class="attachment-img" src="/content/images/photo.png" alt="Attachment Image"> -->

                <div class="attachment-pushed">
                  <h4 class="attachment-heading">{{vm.projet.name}}</h4>

                  <div class="attachment-text">
                    {{vm.projet.description}}</a>
                  </div>
                  <!-- /.attachment-text -->
                </div>
                <!-- /.attachment-pushed -->
              </div>
              <!-- /.attachment-block -->
              <span class="pull-right text-muted">{{vm.listeCommentaireParProjet.length}}</span>
            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              <div ng-repeat="(key, commentaire) in vm.listeCommentaireParProjet" class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="/content/images/photo.png" alt="User Image">
                <div class="comment-text">
                      <span class="username">
                       {{commentaire.auteur}}
                        <span class="text-muted pull-right">{{commentaire.datePost | date}}</span>
                      </span><!-- /.username -->
                  {{commentaire.contenu}}
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
              <form action="#" method="post">
                <img class="img-responsive img-circle img-sm" src="/content/images/photo.png" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                <div class="row">
                  <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                  <button class="btn btn-primary">Commenter</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
            </div>
    </div>
