
<form name="editForm" name="form" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTacheLabel">Create or edit a Tache</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tache.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.tache.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.tache.name"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.tache.description"
            />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFichierJoint($file, vm.tache)">
            <label class="control-label" for="field_fichierJoint">Fichier Joint</label>
            <div>
                <div ng-if="vm.tache.fichierJoint" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.tache.fichierJointContentType, vm.tache.fichierJoint)">open</a><br>
                    <span class="pull-left">{{vm.tache.fichierJointContentType}}, {{vm.byteSize(vm.tache.fichierJoint)}}</span>
                    <button ng-click="vm.tache.fichierJoint=null;vm.tache.fichierJointContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFichierJoint($file, vm.tache)">
                    Joindre fichier
                </button>
            </div>
            <input type="hidden" class="form-control" name="fichierJoint" id="field_fichierJoint"
                   ng-model="vm.tache.fichierJoint"
            />
            <input type="hidden" class="form-control" name="fichierJointContentType" id="field_fichierJointContentType"
                   ng-model="vm.tache.fichierJointContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_role">Role</label>
            <select class="form-control" name="role" ng-model="vm.tache.role" id="field_role" required>
                <option value="GRH">GRH</option>
                <option value="FINANCE">FINANCE</option>
                <option value="LOGISTIQUE">LOGISTIQUE</option>
                <option value="EXECUTIVE">EXECUTIVE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fromt">Date début</label>
            <div class="input-group">
                <input id="field_fromt" type="text" class="form-control" name="fromt" datetime-picker="{{dateformat}}" ng-model="vm.tache.fromt" is-open="vm.datePickerOpenStatus.fromt"
                required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tot">Date Fin</label>
            <div class="input-group">
                <input id="field_tot" type="text" class="form-control" name="tot" datetime-picker="{{dateformat}}" ng-model="vm.tache.tot" is-open="vm.datePickerOpenStatus.tot"
                date-after="vm.tache.fromt" required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('tot')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <span ng-show="form.tot.$error.dateAfter" class="error">Must be after start date!</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actif">Actif</label>
            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                   ng-model="vm.tache.actif"
            required/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_color">Couleur</label>
            <input type="text" class="form-control" name="color" id="field_color"
                   ng-model="vm.tache.color" placeholder="definir la couleur de repesentation sur le diagramme" 
            />
        </div>
        <!-- <div class="form-group">
            <label class="control-label" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                   ng-model="vm.tache.data"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_movable">Movable</label>
            <input type="checkbox" class="form-control" name="movable" id="field_movable"
                   ng-model="vm.tache.movable"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_progress">Progress</label>
            <input type="number" class="form-control" name="progress" id="field_progress"
                   ng-model="vm.tache.progress"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lct">Lct</label>
            <div class="input-group">
                <input id="field_lct" type="text" class="form-control" name="lct" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tache.lct" is-open="vm.datePickerOpenStatus.lct"
                />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lct')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_est">Est</label>
            <div class="input-group">
                <input id="field_est" type="text" class="form-control" name="est" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tache.est" is-open="vm.datePickerOpenStatus.est"
                />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('est')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div> -->

        <div class="form-group">
            <label for="field_projet">Projet</label>
            <select class="form-control" id="field_projet" name="projet" ng-model="vm.tache.projet" ng-options="projet as projet.name for projet in vm.projets track by projet.id">
                <option value="" required></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">Responsable de la tache</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.tache.user" ng-options="user as user.firstName+' '+user.lastName for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Créér</span>
        </button>
    </div>
</form>

