
<div>
    <h2><span>Tache</span> {{vm.tache.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.tache.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.tache.description}}</span>
        </dd>
        <dt><span>Fichier Joint</span></dt>
        <dd>
            <div ng-if="vm.tache.fichierJoint">
                <a ng-click="vm.openFile(vm.tache.fichierJointContentType, vm.tache.fichierJoint)">open</a>
                {{vm.tache.fichierJointContentType}}, {{vm.byteSize(vm.tache.fichierJoint)}}
            </div>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
            <span>{{vm.tache.role}}</span>
        </dd>
        <dt><span>From</span></dt>
        <dd>
            <span>{{vm.tache.fromt | date:'medium'}}</span>
        </dd>
        <dt><span>To</span></dt>
        <dd>
            <span>{{vm.tache.tot | date:'medium'}}</span>
        </dd>
        <dt><span>Actif</span></dt>
        <dd>
            <span>{{vm.tache.actif}}</span>
        </dd>
        <dt><span>Color</span></dt>
        <dd>
            <span>{{vm.tache.color}}</span>
        </dd>
        <dt><span>Data</span></dt>
        <dd>
            <span>{{vm.tache.data}}</span>
        </dd>
        <dt><span>Movable</span></dt>
        <dd>
            <span>{{vm.tache.movable}}</span>
        </dd>
        <dt><span>Progress</span></dt>
        <dd>
            <span>{{vm.tache.progress}}</span>
        </dd>
        <dt><span>Lct</span></dt>
        <dd>
            <span>{{vm.tache.lct | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Est</span></dt>
        <dd>
            <span>{{vm.tache.est | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Projet</span></dt>
        <dd>
            <a ui-sref="projet-detail({id:vm.tache.projet.id})">{{vm.tache.projet.id}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.tache.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="tache-detail.edit({id:vm.tache.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
