<div>
    <h2>Taches</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tache.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Tache
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="fichierJoint"><span>Fichier Joint</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="role"><span>Role</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="fromt"><span>From</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="tot"><span>To</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="actif"><span>Actif</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="color"><span>Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="data"><span>Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="movable"><span>Movable</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="progress"><span>Progress</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lct"><span>Lct</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="est"><span>Est</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="projet.id"><span>Projet</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="user.id"><span>User</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tache in vm.taches track by tache.id">
                <td><a ui-sref="tache-detail({id:tache.id})">{{tache.id}}</a></td>
                <td>{{tache.name}}</td>
                <td>{{tache.description}}</td>
                <td>
                    <a ng-if="tache.fichierJoint" ng-click="vm.openFile(tache.fichierJointContentType, tache.fichierJoint)">open</a>
                    <span ng-if="tache.fichierJoint">{{tache.fichierJointContentType}}, {{vm.byteSize(tache.fichierJoint)}}</span>
                </td>
                <td>{{tache.role}}</td>
                <td>{{tache.fromt | date:'medium'}}</td>
                <td>{{tache.tot | date:'medium'}}</td>
                <td>{{tache.actif}}</td>
                <td>{{tache.color}}</td>
                <td>{{tache.data}}</td>
                <td>{{tache.movable}}</td>
                <td>{{tache.progress}}</td>
                <td>{{tache.lct | date:'mediumDate'}}</td>
                <td>{{tache.est | date:'mediumDate'}}</td>
                <td>
                    <a ui-sref="projet-detail({id:tache.projet.id})">{{tache.projet.id}}</a>
                </td>
                <td>
                    {{tache.user.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="tache-detail({id:tache.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="tache.edit({id:tache.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="tache.delete({id:tache.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
