
<div>
    <h2><span>Documents</span> {{vm.documents.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Titre</span></dt>
        <dd>
            <span>{{vm.documents.titre}}</span>
        </dd>
        <dt><span>Sender</span></dt>
        <dd>
            <span>{{vm.documents.sender}}</span>
        </dd>
        <dt><span>Fichier</span></dt>
        <dd>
            <div ng-if="vm.documents.fichier">
                <a ng-click="vm.openFile(vm.documents.fichierContentType, vm.documents.fichier)">open</a>
                {{vm.documents.fichierContentType}}, {{vm.byteSize(vm.documents.fichier)}}
            </div>
        </dd>
        <dt><span>Mode</span></dt>
        <dd>
            <span translate="{{'iconlabApp.Mode.' + vm.documents.mode}}">{{vm.documents.mode}}</span>
        </dd>
        <dt><span>Actif</span></dt>
        <dd>
            <span>{{vm.documents.actif}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.documents.user.id}}
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
