
<form class="animated fadeInDown" name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="box box-info">
        <div class="box-header text-center">
            <i class="fa fa-file"></i>
            <h4 ng-show="!vm.article.id" class="box-title">Creation d'un Article</h4>
            <h4 ng-show="vm.article.id" class="box-title">Edition d'un Article</h4>
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button ng-click="vm.clear()" type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer">
                    <i class="fa fa-times"></i></button>
            </div>
            <!-- /. tools -->
        </div>
        <div class="box-body">
            <jhi-alert-error></jhi-alert-error>
            <!-- <div class="ng-r form-group" ng-show="vm.article.id">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="vm.article.id" readonly />
            </div> -->
            <div class="form-group">
                <label class="control-label" for="field_titre">Titre</label>
                <input type="text" class="form-control" name="titre" id="field_titre"
                       ng-model="vm.article.titre"
                       required />
                <div ng-show="editForm.titre.$invalid">
                    <p class="help-block"
                       ng-show="editForm.titre.$error.required">
                        Ce champ est obligatoire.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="field_contenu">Contenu</label>
            <textarea rows="5"  type="text" class="textarea form-control" name="contenu" id="field_contenu"
                      ng-model="vm.article.contenu"
                      required ></textarea>
                <div ng-show="editForm.contenu.$invalid">
                    <p class="help-block"
                       ng-show="editForm.contenu.$error.required">
                        Ce champ est obligatoire.
                    </p>
                </div>
            </div>
            <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.article)" ngf-pattern="'image/*'">
                <label class="control-label" for="field_image">Image</label>
                <div>
                    <img data-ng-src="{{'data:' + vm.article.imageContentType + ';base64,' + vm.article.image}}" style="max-height: 100px;" ng-if="vm.article.image"/>
                    <div ng-if="vm.article.image" class="help-block clearfix">
                        <span class="pull-left">{{vm.article.imageContentType}}, {{vm.byteSize(vm.article.image)}}</span>
                        <button ng-click="vm.article.image=null;vm.article.imageContentType=null;"
                                class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <button type="file" ngf-select class="btn btn-default btn-block"
                            ngf-change="vm.setImage($file, vm.article)" accept="image/*">
                        Ajouter une image
                    </button>
                </div>
                <input type="hidden" class="form-control" name="image" id="field_image"
                       ng-model="vm.article.image"
                />
                <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                       ng-model="vm.article.imageContentType" />
            </div>
            <div class="form-group">
                <label class="control-label" for="field_datePub">Date de Publication</label>
                <div class="input-group">
                    <input id="field_datePub" type="text" class="form-control" name="datePub" uib-datepicker-popup="{{dateformat}}" ng-model="vm.article.datePub" is-open="vm.datePickerOpenStatus.datePub"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datePub')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group" ngf-drop ngf-change="vm.setFichier($file, vm.article)">
                <label class="control-label" for="field_fichier">Fichier joint</label>
                <div>
                    <div ng-if="vm.article.fichier" class="help-block clearfix">
                        <a class="pull-left" ng-click="vm.openFile(vm.article.fichierContentType, vm.article.fichier)">ouvrir</a><br>
                        <span class="pull-left">{{vm.article.fichierContentType}}, {{vm.byteSize(vm.article.fichier)}}</span>
                        <button ng-click="vm.article.fichier=null;vm.article.fichierContentType=null;"
                                class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <button type="file" ngf-select class="btn btn-default btn-block"
                            ngf-change="vm.setFichier($file, vm.article)">
                        Joindre un fichier
                    </button>
                </div>
                <input type="hidden" class="form-control" name="fichier" id="field_fichier"
                       ng-model="vm.article.fichier"
                />
                <input type="hidden" class="form-control" name="fichierContentType" id="field_fichierContentType"
                       ng-model="vm.article.fichierContentType" />
            </div>
        </div>
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Publier</span>
            </button>
        </div>
    </div>
</form>

