<div class=" fadeInDown box box-info">
  <div class="box-header text-center">
    <i class="fa fa-file"></i>
    <h4 class="box-title">Notifications</h4>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button ng-click="vm.clear()" type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer">
        <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <div class="box-body corps">
      <p>{{vm.messageHierachique.contenu}}</p>
      <div class="pull-right" ng-if="vm.messageHierachique.fichier">
        <a type="button" ng-click="vm.openFile(vm.messageHierachique.fichierContentType, vm.messageHierachique.fichier)">Télécharger fichier joint</a>
        {{vm.messageHierachique.fichierContentType}}, {{vm.byteSize(vm.messageHierachique.fichier)}}
      </div>
    </div>
    <div class="box-footer clearfix">
            <p class="pull-right"> De la part de: {{vm.messageHierachique.sender}}</p>
    </div>
  </div>

