<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Mot de passe de [<b>{{vm.account.firstName}} {{vm.account.lastName}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Mot de passe modifié avec succès!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Une erreur est survenue!</strong> Le mot de passe n'a pas pu être modifié.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Le mot de passe et la confirmation ne correspondent pas!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nouveau mot de passe"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Le mot de passe est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Le mot de passe doit avoir au moins 4 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            La taille du mot de passe ne doit pas dépasser 50 caractères.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmation mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmer le nouveau mot de passe"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            La confirmation du mot de passe est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Le mot de passe doit avoir au moins 4 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            La taille du mot de passe ne doit pas dépasser 50 caractères.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
