<!--
<div>
    <h2><span>Projet</span> {{vm.projet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.projet.name}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.projet.code}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.projet.description}}</span>
        </dd>
        <dt><span>Fichier Projet</span></dt>
        <dd>
            <div ng-if="vm.projet.fichierProjet">
                <a ng-click="vm.openFile(vm.projet.fichierProjetContentType, vm.projet.fichierProjet)">open</a>
                {{vm.projet.fichierProjetContentType}}, {{vm.byteSize(vm.projet.fichierProjet)}}
            </div>
        </dd>
        <dt><span>Date Debut</span></dt>
        <dd>
            <span>{{vm.projet.from | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date Fin</span></dt>
        <dd>
            <span>{{vm.projet.to | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Actif</span></dt>
        <dd>
            <span>{{vm.projet.actif}}</span>
        </dd>
        <dt><span>Compte</span></dt>
        <dd>
            <a ui-sref="compte-detail({id:vm.projet.compte.id})">{{vm.projet.compte.id}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.projet.user.id}}
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>-->
<div>
    <h2><span>Projet</span> {{vm.projet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.projet.name}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.projet.code}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.projet.description}}</span>
        </dd>
        <dt><span>Fichier Projet</span></dt>
        <dd>
            <div ng-if="vm.projet.fichierProjet">
                <a ng-click="vm.openFile(vm.projet.fichierProjetContentType, vm.projet.fichierProjet)">open</a>
                {{vm.projet.fichierProjetContentType}}, {{vm.byteSize(vm.projet.fichierProjet)}}
            </div>
        </dd>

        <dt><span>From</span></dt>
        <dd>
            <span>{{vm.projet.fromt | date:'mediumDate'}}</span>
        </dd>
        <dt><span>To</span></dt>
        <dd>
            <span>{{vm.projet.tot | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Actif</span></dt>
        <dd>
            <span>{{vm.projet.actif}}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
            <span>{{vm.projet.height}}</span>
        </dd>
        <dt><span>Sortable</span></dt>
        <dd>
            <span>{{vm.projet.sortable}}</span>
        </dd>
        <dt><span>Classes</span></dt>
        <dd>
            <span>{{vm.projet.classes}}</span>
        </dd>
        <dt><span>Color</span></dt>
        <dd>
            <span>{{vm.projet.color}}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
            <span>{{vm.projet.parent}}</span>
        </dd>
        <dt><span>Tooltips</span></dt>
        <dd>
            <span>{{vm.projet.tooltips}}</span>
        </dd>
        <dt><span>Compte</span></dt>
        <dd>
            <a ui-sref="compte-detail({id:vm.projet.compte.id})">{{vm.projet.compte.id}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.projet.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="projet-detail.edit({id:vm.projet.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>

