<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Enregistrement effectué avec succès!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorregisterAccountExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Nom d'utilisateur"
                           ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            votre nom d'utilisateur est obligatoire
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Your registerAccountname cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Your registerAccountname can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="phonenumber">Phone number</label>
                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Your phone number"
                           ng-model="vm.registerAccount.phonenumber" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.phonenumber.$dirty && form.phonenumber.$invalid">
                        <p class="help-block"
                               ng-show="form.phonenumber.$error.required">
                            Your phone number is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.phonenumber.$error.minlength">
                            Your phone number is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.phonenumber.$error.maxlength">
                            Your phone number cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.phonenumber.$error.pattern">
                            Your phone number can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.registerAccount)" ngf-pattern="'image/*'">
                        <label class="control-label" for="field_image">Profil Image</label>
                        <div>
                            <img data-ng-src="{{'data:' + vm.registerAccount.imageContentType + ';base64,' + vm.registerAccount.image}}" style="max-height: 100px;" ng-if="vm.registerAccount.image"/>
                            <div ng-if="vm.registerAccount.image" class="help-block clearfix">
                                <span class="pull-left">{{vm.registerAccount.imageContentType}}, {{vm.byteSize(vm.registerAccount.image)}}</span>
                                <button ng-click="vm.registerAccount.image=null;vm.registerAccount.imageContentType=null;"
                                        class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <button type="file" ngf-select class="btn btn-default btn-block"
                                    ngf-change="vm.setImage($file, vm.registerAccount)" accept="image/*">
                                Add image
                            </button>
                        </div>
                        <input type="hidden" class="form-control" name="image" id="field_image"
                               ng-model="vm.registerAccount.image"
                        />
                        <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                               ng-model="vm.registerAccount.imageContentType" />
                    </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- registerAccount (login="registerAccount" and password="registerAccount").
            </div>
        </div>
    </div>
</div>
