   
<nav  class=" navbar navbar-default navbar-fixed-top navbar-top">
 <div class="container-fluid">
     <div class="navbar-header">
         <button type="button" class="navbar-expand-toggle">
             <i class="fa fa-bars icon"></i>
             <img src="content/images/LOGO_ICON_BM.png" class="image"/>
         </button>
         <ol class="breadcrumb navbar-breadcrumb">
             <li style="color:#cccfd8;" id="titre" class="active nomicon1">&nbsp;IconLab</li>
             <li id="titre" class="active nomicon2">&nbsp;IconLab</li>
         </ol>
         <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
             <i class="fa fa-th icon"></i>
         </button>
     </div>
     <div class="navbar-collapse colorationnav" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
         <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
              <i class="fa fa-times icon"></i>
          </button>
        <li ng-switch-when="false" ui-sref-active="active">
            <a href="" ng-click="vm.login()" id="login">
                <span>
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span class="hidden-sm">
                        Se connecter
                    </span>
                </span>
            </a>
        </li>
        <li ng-switch-when="false">
            <a ui-sref="register">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="hidden-sm">
                <span>S'enregistrer</span>
            </a>
        </li>
        <li ng-class="{active: vm.$state.includes('account')}" ng-switch-when="true" class="dropdown profile">
         <a class="dropdown-toggle lien" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user lien"></i>&nbsp; <span class="lien"> {{vm.account.login}}</span> <span class="caret lien"></span></a>
         <ul class="dropdown-menu animated fadeInDown">
             <li ng-show="vm.account.image" class="profile-img">
                 <img data-ng-src="{{'data:' + vm.account.imageContentType + ';base64,' + vm.account.image}}" style="height: 150px;width:150px; border-radius:75px;" class="profile-img"/>
             </li>
             <li ng-show="!vm.account.image" class="profile-img">
                 <img src="content/images/photo.png" style="height: 150px;width:150px; border-radius:75px;" class="profile-img"/>
             </li>
             <li>
                 <div class="profile-info">
                     <h4 class="username">{{vm.account.login}}</h4>
                     <p>{{vm.account.email}}</p>
                     <div class="margin-bottom-2x" role="group">
                         <a type="button" ui-sref="settings" ng-click="vm.collapseNavbar()" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> Settings</a>
                         <a type="button" ui-sref="password" ng-click="vm.collapseNavbar()" class="btn btn-default">
                             <i class="glyphicon glyphicon-lock"></i>
                             Password
                         </a>
                         <a type="button" ui-sref="sessions" ng-click="vm.collapseNavbar()" class="btn btn-default">
                            <i class="glyphicon glyphicon-cloud"></i>
                            Sessions
                        </a>
                        <a type="button" href="" ng-click="vm.logout()" id="logout" class="btn btn-default">
                            <i class="glyphicon glyphicon-log-out"></i>
                            Sign out
                        </a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>
</nav>
