
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPointAvancementLabel">Create or edit a Point Avancement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pointAvancement.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.pointAvancement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                   ng-model="vm.pointAvancement.libelle"
                   required />
            <div ng-show="editForm.libelle.$invalid">
                <p class="help-block"
                   ng-show="editForm.libelle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.pointAvancement.description"
            />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFichier($file, vm.pointAvancement)">
            <label class="control-label" for="field_fichier">Fichier</label>
            <div>
                <div ng-if="vm.pointAvancement.fichier" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.pointAvancement.fichierContentType, vm.pointAvancement.fichier)">open</a><br>
                    <span class="pull-left">{{vm.pointAvancement.fichierContentType}}, {{vm.byteSize(vm.pointAvancement.fichier)}}</span>
                    <button ng-click="vm.pointAvancement.fichier=null;vm.pointAvancement.fichierContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFichier($file, vm.pointAvancement)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="fichier" id="field_fichier"
                   ng-model="vm.pointAvancement.fichier"
            />
            <input type="hidden" class="form-control" name="fichierContentType" id="field_fichierContentType"
                   ng-model="vm.pointAvancement.fichierContentType" />
        </div>

        <!--<div class="form-group">
            <label for="field_tache">Tache</label>
            <select class="form-control" id="field_tache" name="tache" ng-model="vm.tache" >
                <option value="vm.tache.id"></option>
            </select>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
