
<form class="animated fadeInDown" name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
                    <div class="box box-info">
            <div class="box-header text-center">
              <i class="fa fa-hand-o-right"></i>
              <h4 ng-show="!vm.pointAvancement.id" class="box-title">Creation d'un  Point d'Avancement</h4>
        <h4 ng-show="vm.pointAvancement.id" class="box-title">Edition d'un  Point d'Avancement</h4>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button ng-click="vm.clear()" type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                    ng-model="vm.pointAvancement.libelle"
                    required />
            <div ng-show="editForm.libelle.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.pointAvancement.description"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFichier($file, vm.pointAvancement)">
            <label class="control-label" for="field_fichier">Fichier joint</label>
            <div>
                <div ng-if="vm.pointAvancement.fichier" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.pointAvancement.fichierContentType, vm.pointAvancement.fichier)">open</a><br>
                    <span class="pull-left">{{vm.pointAvancement.fichierContentType}}, {{vm.byteSize(vm.pointAvancement.fichier)}}</span>
                    <button ng-click="vm.pointAvancement.fichier=null;vm.pointAvancement.fichierContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFichier($file, vm.pointAvancement)">
                    Joindre fichier
                </button>
            </div>
            <input type="hidden" class="form-control" name="fichier" id="field_fichier"
                    ng-model="vm.pointAvancement.fichier"
                     />
            <input type="hidden" class="form-control" name="fichierContentType" id="field_fichierContentType"
                    ng-model="vm.pointAvancement.fichierContentType" />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_actif">Actif</label>
            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                    ng-model="vm.pointAvancement.actif"
                     />
        </div>

        <div class="form-group">
            <label for="field_tache">Tache</label>
            <select class="form-control" id="field_tache" name="tache" ng-model="vm.pointAvancement.tache" ng-options="tache as tache.name for tache in vm.taches track by tache.id">
                <option value=""></option>
            </select>
        </div>
            </div>
            <div class="box-footer clearfix">
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>&nbsp;
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
            </div>
          </div>
</form>


